<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Statistic/"><span class="fa fa-home mr-3"></span> Gösterge Paneli</a>
    </li>
    <li class="active">
        <a href="/Slider/"><span class="fa fa-image mr-3"></span> Görüntü Kaydırıcı</a>
    </li>
    <li class="active">
        <a href="/About/"><span class="fa fa-user mr-3"></span> Hakkımda</a>
    </li>
    <li class="active">
        <a href="/Skill/"><span class="fa fa-star mr-3"></span> Yetenekler</a>
    </li>
    <li class="active">
        <a href="/Education/"><span class="fa fa-graduation-cap mr-3"></span> Eğitim</a>
    </li>
    <li class="active">
        <a href="/Services/"><span class="fa fa-cogs mr-3"></span> Hizmetler</a>
    </li>
    <li class="active">
        <a href="/Project/"><span class="fa fa-code mr-3"></span> Projeler</a>
    </li>
    <li class="active">
        <a href="/Testimonial/"><span class="fa fa-comment mr-3"></span> Referanslar</a>
    </li>
    <li class="active">
        <a href="/Message/"><span class="fa fa-envelope mr-3"></span> Mesajlar</a>
    </li>
    <li class="active">
        <a href="/Categories/"><span class="fa fa-list mr-3"></span> Kategoriler</a>
    </li>
    <li class="active">
        <a href="/Contact/"><span class="fa fa-phone mr-3"></span> İletişim</a>
    </li>
</ul>